body {
  background: #a9a9f5;
}

.container {
  background: #ffffff;
  margin: 10px auto;
}

header {
  padding: 10px; 
}

div.title {
  float: left;
}

div.field {
  font-size: 130%;
  margin-bottom: 10px;
}

div.actions {
  font-size: 150%;
  margin-bottom: 10px;
}

ul.form_list {
  list-style-type: none;
}

.number_field {
  list-style-type: none;
  display: inline-block;
}

a.button {
  float: left;
  color: #000000;
  text-decoration: none;
  background: #be81f7;
  font-size: 140%;
  margin: 1px;
  padding: 5px 10px;
}

section {
  padding: 10px;
}

.record_form {
  background: #be81f7;
  float: right;
  margin: 10px
}

nav {
  float: right;
}


nav ul li {
  list-style-type: none;
  display: inline-block;
}

.round {
  -moz-border-radius:    8px;
  -webkit-border-radius: 8px;
  border-radius:         8px;
}

#chartdiv {
  width: 900px;
  height: 600px;
}

#chart_options {
  width: 900px;
}

#chart_data_options {
  float: right;
}

.chart_date_input {
  width: 100px;
  text-align: center;
}

#add_company_button {
  float: right;
}

#make_index_button {
  float: left;
  background: #be81f7;
}

.checkbox {
  width: 30px;
}
