<section class="chart round">
  <img src="/post_chart" alt="" width="100%" height="100%"/>
</section>
<br />
<section class="chart round">
  <iframe src="/post_chart" height="100%" width="100%"></iframe>
</section>
