<p>Shart stands for Share Chart of course</p>
<p>The making an index breaks on heroku for some reason, but it seems to make some data, probably meaningless.</p>
<p>To add a company you need to put the abbreviation exactly as it is on yahoo finance, eg. for Telecom, it is TEL.NZ</p>
